@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

section, header, footer, .tradevise-cell, .forex-two
    position: relative
    background-size: cover
    background-position: center
@mixin opacity($opacity)
    opacity: $opacity / 100
    filter: alpha(opacity=$opacity)
.preloader
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 100
  background-color: rgb( 10, 9, 58 )
  .pulse
    position: relative
    left: 50%
    top: 50vh
    margin-left: -40px
    margin-right: -40px
    &::before, &::after
      content: ''
      border: 5px solid #C0EEFF
      width: 80px
      height: 80px
      border-radius: 500px
      position: absolute
    &::before
      animation: polse-outer 0.8s ease-in-infinite
    &::before
      animation: polse-inner 0.8s linear infinite
@keyframes polse-outer
    0%
      @include opacity(100)
    50%
      @include opacity(50)
    100%
      @include opacity(0)
@keyframes polse-inner
    0%
      @include opacity(0)
      transform: scale(0)
    100%
      @include opacity(100)
      transform: scale(1)


.dropbtn 
    color: rgba( 255, 255, 255, 0.749 )
    padding: 10px 20px
    font-family: "Century Gothic"
    font-size: 23px
    border: none
    cursor: pointer
    text-transform: uppercase
    background-color: transparent


.dropdown, .dropdown1, .dropdown2
    position: relative
    display: inline-block
    margin-top: 12px
.dropdown1, .dropdown2
    a
      transition: all 0.25s ease
      &:hover
        text-decoration: none
        color: #C0EEFF

.dropdown-content 
    display: none
    position: absolute
    background-color: transparent
    min-width: 160px
    z-index: 1
    color: rgba( 255, 255, 255, 0.749 )
    padding: 10px 20px
    font-family: "Century Gothic"
    font-size: 23px


.dropdown-content
    a 
      color: rgba( 255, 255, 255, 0.749 )
      padding: 0
      text-decoration: none
      display: block
      &:hover
        background-color: transparent
.dropdown
    a
      &:hover
        color: #C0EEFF
        text-decoration: none
.dropdown:hover .dropdown-content 
    display: block




.tradevise-head
    padding: 10px 0 350px
    .top-line
      padding: 0 0 0 50px

      .logo
        text-align: center
        width: 100%
        height: 100px
        display: inline-block
        img
          width: 100px
          height: auto
          display: inline-block
      .tradevise-menu
        position: absolute
        top: 0
        right: 50px
        li
          display: inline-block
          padding: 10px 20px
          margin: 0 30px
          a
            text-transform: uppercase
            color: rgba( 255, 255, 255, 0.749 )
            text-decoration: none
            font-family: "Century Gothic"
            font-size: 23px
            transition: all 0.25s ease
            &:hover
              color: #C0EEFF
        .main-lang
          transition: all 0.25s ease
          .lang
            display: none
            padding: 0
            margin-left: -50px
          &:hover
            .lang
              display: block
    .tradevise-text
      padding-top: 10px
      padding-left: 40px
      margin-top: 260px
      display: flex
      flex-direction: column
      justify-content: center
      .td-text
        color: rgba( 255, 255, 255, 0.749 )
        text-align: center
        margin: 0
        font-size: 30px
        font-family: "Century Gothic"
        font-weight: bold


.tradevise-two
    position: relative
    padding: 50px 0 400px
    .tradevise-two-text
      position: relative
      color: rgba( 255, 255, 255, 0.749 )
      font-family: "Century Gothic"
      font-size: 35px
      .tradevise-two-text-cont
        width: 100%
        margin: 0
        text-align: justify
      .tradevise-two-text-center
        text-align: center
        margin: 0 0 20px 0
    .tradevise-two-block
      width: 100%
      height: 100px
      border: 4px solid #C0EEFF
      border-radius: 20px
      margin-top: 100px

.tradevise-three
    position: relative
    padding: 100px 50px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    .tradevise-three-item
      width: 280px
      text-decoration: none
      margin-top: 20px
      transition: all 0.25s ease
      &:hover
        box-shadow: 0 0 20px #fff
      .triangle, .triangle-3
        position: relative
        width: 0 
        height: 0 
        border-left: 140px solid transparent
        border-right: 140px solid transparent
        border-bottom: 250px solid rgba(#C0EEFF, 0.2)
        //opacity: 0.2
        img
          width: 200px
          height: auto
          opacity: 1
          position: absolute
          top: 130px
          left: -100px
      .triangle-reverse
        position: relative
        width: 0 
        height: 0 
        border-left: 140px solid transparent
        border-right: 140px solid transparent
        border-top: 250px solid rgba(#C0EEFF, 0.2)
        img
          width: 120px
          height: auto
          opacity: 1
          position: absolute
          top: -240px
          left: -60px
      .triangle-3
        img
          width: 150px
          height: auto
          margin-top: -50px
          margin-left: 30px
      .thriangle-text
        color: rgba( 255, 255, 255, 0.749 )
        text-align: center
        font-family: "Century Gothic"
        h4
          font-size: 25px
          margin: 0
          margin-top: 10px


.tradevise-four
    position: relative
    padding: 50px
    h2
      font-size: 26px
      text-transform: uppercase
      border-left: 3px solid rgb( 10, 9, 58 )
      font-family: "Century Gothic"
      color: rgb( 10, 9, 58 )
      padding: 10px 20px
    .tradevise-grid
      display: flex
      flex-wrap: wrap
      flex-direction: row
      .tradevise-cell-1
        border-bottom: 2px solid #C0EEFF
        border-right: 2px solid #C0EEFF
      .tradevise-cell-2
        border-bottom: 2px solid #C0EEFF
      .tradevise-cell-3
        border-right: 2px solid #C0EEFF
      .tradevise-cell
        width: 50%
        height: 300px
        position: relative
        transition: all 0.25s ease
        h3
          font-family: "Century Gothic"
          font-size: 30px
          color: rgba( 255, 255, 255, 0.749 )
          position: absolute
          right: 20px
          bottom: 0
          margin: 0
          font-weight: lighter
        img
          display: block
          width: 150px
          height: auto
          position: absolute
          right: 20px
          bottom: 80px
        &:hover
          transform: scale(1.05)
          z-index: 20
          border: 2px solid #C0EEFF



.tradevise-five
    position: relative
    padding: 100px 0
    h2
      font-size: 26px
      color: rgba( 255, 255, 255, 0.749 )
      text-transform: uppercase
      border-left: 3px solid rgba( 255, 255, 255, 0.749 )
      margin-top: 20px
      padding: 30px 20px
    .tradevise-five-textone
      width: 100%
      height: 250px
      border: 5px solid #C0EEFF
      border-radius: 20px
    .tradevise-five-texttwo
      width: 100%
      height: 450px
      border: 5px solid #C0EEFF
      border-radius: 20px

.tradevise-space
    width: 100%
    height: 50px

.tradevise-who-are
    position: relative
    padding: 700px 0 
    font-family: "Century Gothic"
    color: rgba( 255, 255, 255, 0.749 )
    h2
      font-size: 26px
      padding: 20px 20px
      border-left: 3px solid  rgba( 255, 255, 255, 0.749 )
      position: absolute
      top: 40px
      left: 30%
      margin: 0
      text-transform: uppercase
    .tradevise-who-are-text
      font-size: 26px
      text-align: center
      line-height: 1.5
      margin: 0
      position: absolute
      left: 50%
      top: 180px
      width: 900px
      margin-left: -450px

.top
    position: fixed
    bottom: 25px
    right: -100px
    background-color: #C0EEFF
    z-index: 12
    border-radius: 10em
    color: #000
    font-size: 26px
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px
    cursor: pointer
    transition: all .5s ease
    opacity: 1
    &:hover
      background-color: darken(#C0EEFF, 20%)
      opacity: 1
    &.active
      right: 50px

//FOREX
.forex-one
    h3
      font-size: 25px
      color: #556e79
      text-align: justify

.forex-two
    font-family: "Century Gothic"
    h2
      font-size: 27px
      text-align: justify
      color: #758A92
    h3
      font-size: 25px
      color: #556e79
      text-align: justify
      border-left: 3px solid #556e79
      padding-left: 20px
    h4
      font-size: 20px
      color: #005f7D
      text-align: justify
    p
      color: #607881
      text-align: justify
      font-size: 20px
    img
      width: 700px
      height: auto

.forex-two
    .forex-table
      display: flex
      flex-direction: column
      .forex-table-item
        display: flex
        flex-direction: row
        border-bottom: 3px solid #003955
        .forex-table-item1, .forex-table-item2
          width: 50%
          h3
            text-align: center
            font-size: 25px
            color: #556e79
            border: none
          p
            text-align: center
            color: #49C2D3
            margin: 10px 0
            font-weight: bold
.forex-two
    .forex-formula
      display: flex
      flex-direction: column
      .forex-formula-item
        display: flex
        flex-direction: row
        .forex-formula-item1, .forex-formula-item2, .forex-formula-item3
          width: 33%
          h3
            text-align: center
            font-size: 25px
            color: #556e79
            border: none
          p
            text-align: center
            color: #49C2D3
            margin: 10px 0
            font-weight: bold
.forex-two
    .forex-formula
      display: flex
      flex-direction: column
      .forex-formula-item
        display: flex
        flex-direction: row
        .forex-formula-item3, .forex-formula-item4
          width: 50%
          h3
            text-align: center
            font-size: 25px
            color: #556e79
            border: none
          p
            text-align: center
            color: #49C2D3
            margin: 10px 0
            font-weight: bold

.forex-two
    .forex-stock
      display: flex
      flex-direction: column
      .forex-stock-item
        display: flex
        flex-direction: row
        .forex-stock-item1
          width: 100%
          h3
            text-align: center
            font-size: 25px
            color: #556e79
            border: none
          p
            text-align: center
            color: #49C2D3
            margin: 10px 0
            font-weight: bold

.forex-two
    .forex-stock2
      display: flex
      flex-direction: column
      .forex-stock2-item
        display: flex
        flex-direction: row
        .forex-stock2-item1
          width: 25%
          h3
            text-align: center
            font-size: 25px
            color: #556e79
            border: none
          p
            text-align: center
            color: #49C2D3
            margin: 10px 0
            font-weight: bold
.gbp-jpy
    background-color: #98A7AE
    padding: 15px 15px
    display: inline-block
    border-radius: 10px
    p
      color: #27E9EB
      font-size: 25px
      display: inline-block
      margin: 0
.p-bold
    font-weight: bold
    color: #556e79
.forextables
    background-color: #849199
    border-radius: 20px
.forex-two
    .forex-table-item
      border-bottom: none
//commodities

.commodities-header
    .tradevise-three-item
      .triangle
        img
          width: 170px
          height: auto
          margin-top: -50px
          margin-left: 15px

//trade
.trade
    background-color: #E2E7E9

.stock-header
    .tradevise-three-item
      .triangle
        img
          width: 150px
          height: auto
          margin-top: -30px
          margin-left: 24px
.img-responsive
	display: block
	max-width: 100%
	height: auto

@import "media" // Всегда в конце
